[Desktop Entry]
Name=Same Gnome
Name[da]=Samme Gnome
Name[de]=Same Gnome
Name[es]=Same Gnome
Name[et]=Same Gnome
Name[fi]=Same Gnome
Name[fr]=Same Gnome
Name[ga]=An Gnome Cianna
Name[gl]=Same Gnome
Name[ja]=¤µ¤áGnome
Name[ko]=¼¼ÀÓ±×³ð
Name[lt]=Same Gnome
Name[no]=Same Gnome
Name[pt]=Same Gnome
Name[ru]=ôÏÔ ÖÅ Gnome
Name[sv]=Same Gnome
Comment=Gnome SameGame program
Comment[da]=Gnome klon af SameGame
Comment[de]=Gnome-Variante des Spiels SameGame
Comment[es]=Juego Gnome SameGame
Comment[et]=SameGame GNOME variant
Comment[fi]=Gnomeversio SameGamesta
Comment[fr]=Clone GNOME du Jeu SameGame
Comment[ga]=An Gnome Cianna
Comment[gl]=Xogo SameGame de Gnome
Comment[ja]=¤µ¤áGnome
Comment[ko]=±×³ð ¼¼ÀÓ±×³ð °ÔÀÓ
Comment[lt]=Gnome SameGame þaidimas
Comment[no]=Gnome klone av SameGame
Comment[pt]=Variante Gnome do jogo SameGame
Comment[pt_BR]=Programa SameGame Gnome
Comment[ru]=ôÁ ÖÅ ÉÇÒÁ ÄÌÑ Game
Comment[sv]=Gnome-klon av SameGame
Exec=same-gnome
Icon=gnome-gsame.png
Terminal=0
Type=Application
